OLYMPUS_CAD_LOCAL_PORT=5050
OLYMPUS_CAD_SERVICE_NAME=olympus-cad
OLYMPUS_CAD_SOURCE_REPOSITORY=https://github.com/DenncoLABS/Resgrid.git
OLYMPUS_CAD_AUTH_MODE=olympus-proxy
OLYMPUS_CAD_DEFAULT_ORG=Olympus Command
